<html>
  <head>
  </head>
<body>
<div class="container">
<hr>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
          <div class="btn-group btn-group-justified">
            <a href="/rock" class="btn btn-primary">Play Rock</a>
            <a href="/paper" class="btn btn-info">Play Paper</a>
          <a href="/scissors" class="btn btn-primary">Play Scissors</a>
        </div>
    </div>
    <hr>
  </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2 col-xs-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h2 class="panel-title text-center"><%= @YouPlayedTitle %></h2>
            </div>
          <div class="panel-body">
            <img class="img-responsive" src=<%= @YouPlayed %>>
        </div>
        </div>
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h2 class="panel-title text-center"><%= @computerPlayedTitle %></h2>
              </div>
            <div class="panel-body">
              <img class="img-responsive" src=<%= @computerPlayed %>>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div class="well text-center">
            <h1>
              <span class="<%= @labelcolor %>">
              <%= @YouSomething %></span> </h1>
        </div>
    </div>
</div>
</body>

</html>




